@page "/SessionsPanel"

<PageTitle>Sessions</PageTitle>

@page "/SessionsPanel"

<PageTitle>Sessions</PageTitle>

<style>
    #_sfGrid {
        font-size: 1.5rem;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    }

    .e-grid .e-headercell {
        font-size: 1.5rem;
        font-weight: 600;
        height: 60px;
        background-color: #e9ecef !important;
    }

    .e-grid .e-rowcell {
        padding: 16px 12px;
        height: 60px;
        line-height: 1.4;
    }

    .e-grid .e-gridheader {
        background-color: #e9ecef;
        border-bottom: 3px solid #dee2e6;
    }

    .e-grid {
        line-height: 1.4;
    }

    .e-grid .e-row:nth-child(even) {
        background-color: #f0f7ff !important;
    }

    .e-grid .e-row:nth-child(odd) {
        background-color: #e6f3ff !important;
    }

    .e-grid .e-row:hover {
        background-color: #d9ecff !important;
    }

    .e-grid .e-altrow {
        background-color: #f0f7ff;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mt-4">
            <div class="mb-3">
                <SfDatePicker TValue="DateOnly"
                             Placeholder="Select Session Date"
                             Value="_selectedDate"
                             Width="200px">
                    <DatePickerEvents TValue="DateOnly" ValueChange="OnDateChanged" />
                </SfDatePicker>
            </div>
            
            <div class="mb-3">
                <select class="form-select w-auto mx-auto" @bind="_selectedSlotId" @bind:after="OnSlotChanged">
                    @foreach (var slot in _slots)
                    {
                        <option value="@slot.Id">@slot.Hour</option>
                    }
                </select>
            </div>
            
            <div class="mb-4">
                <button class="btn btn-primary" @onclick="OnCreateClick">Create</button>
            </div>
        </div>
        
        <div class="col-12">
            <SfGrid DataSource="@SessionDetailsModels"
                    ID="_sfGrid"
                    @ref="_sfGrid"
                    Height="500"
                    Width="100%"
                    style="margin: 0 auto;">
                <GridColumns>
                    <GridColumn Field="@nameof(SessionDetailsModel.PersonName)" Type="ColumnType.String"></GridColumn>
                    <GridColumn Field="@nameof(SessionDetailsModel.PersonNumber)" Type="ColumnType.String"></GridColumn>
                    <GridColumn Field="@nameof(SessionDetailsModel.SessionTypeName)" Type="ColumnType.String"></GridColumn>
                    <GridColumn Field="@nameof(SessionDetailsModel.Trainer1Name)" Type="ColumnType.String"></GridColumn>
                    <GridColumn Field="@nameof(SessionDetailsModel.Trainer2Name)" Type="ColumnType.String"></GridColumn>
                    <GridColumn Field="@nameof(SessionDetailsModel.Confirmed)" Type="ColumnType.Boolean"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>