@page "/Sessions"

<PageTitle>Sessions</PageTitle>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6 text-center mt-4">
			<div class="mb-3">
				<SfDatePicker TValue="DateOnly"
							  Placeholder="Select Session Date"
							  Value="_selectedDate"
							  Width="200px">
					<DatePickerEvents TValue="DateOnly" ValueChange="OnDateChanged" />
				</SfDatePicker>
			</div>

			<div class="mb-3">
				<SfComboBox TValue="int" TItem="SlotModel" Placeholder="Select a Slot" DataSource="@_slots" @bind-Value="_selectedSlot" Width="200px">
					<ComboBoxEvents TItem="SlotModel" TValue="int" ValueChange="@OnSlotChanged" />
					<ComboBoxFieldSettings Value="Id" Text="Hour" />
				</SfComboBox>
			</div>
		</div>

		<div class="col-12">
			<SfGrid DataSource="@SessionDetailsModels"
					ID="_sfGrid"
					@ref="_sfGrid"
					Height="300"
					Width="100%"
					style="margin: 0 auto;">

				<GridEvents RowSelected="RowSelectHandler" TValue="SessionDetailsModel"></GridEvents>

				<GridColumns>
					<GridColumn Field="@nameof(SessionDetailsModel.PersonName)" Type="ColumnType.String"></GridColumn>
					<GridColumn Field="@nameof(SessionDetailsModel.PersonNumber)" Type="ColumnType.String"></GridColumn>
					<GridColumn Field="@nameof(SessionDetailsModel.SessionTypeName)" Type="ColumnType.String"></GridColumn>
					<GridColumn Field="@nameof(SessionDetailsModel.Trainer1Name)" Type="ColumnType.String"></GridColumn>
					<GridColumn Field="@nameof(SessionDetailsModel.Trainer2Name)" Type="ColumnType.String"></GridColumn>
					<GridColumn Field="@nameof(SessionDetailsModel.Confirmed)" DisplayAsCheckBox="true"></GridColumn>
				</GridColumns>
			</SfGrid>
		</div>

		<div class="combo-box-row">
			@if (!_isUpdating)
			{
				<SfComboBox TValue="int" TItem="ValidSubscriptionModel" Placeholder="Select a Person" DataSource="@_validSubs" @bind-Value="_selectedValidSub">
					<ComboBoxFieldSettings Value="SubscriptionId" Text="PersonName"></ComboBoxFieldSettings>
				</SfComboBox>
			}

			<SfComboBox TValue="int" TItem="TrainerModel" Placeholder="Select a Trainer" DataSource="@_trainers" @bind-Value="_selectedTrainer1">
				<ComboBoxFieldSettings Value="Id" Text="Name"></ComboBoxFieldSettings>
			</SfComboBox>

			<SfComboBox TValue="int" TItem="TrainerModel" Placeholder="Select a Trainer" DataSource="@_trainers" @bind-Value="_selectedTrainer2">
				<ComboBoxFieldSettings Value="Id" Text="Name"></ComboBoxFieldSettings>
			</SfComboBox>
		</div>

		<div class="checkbox-row">
			<SfCheckBox Label="Confirmed" @bind-Checked="_isConfirmed" />
		</div>

		<div class="save-button-row">
			<SfButton IconCss="e-icons e-save" OnClick="OnSaveClick" Content="Save" CssClass="e-primary" />
		</div>
	</div>
</div>